In [ ]:
coordinates =(10,20)
rgb_color =(225,128,0)
person_info=("alice",25,"engineer",True)

In [ ]:
x,y=coordinates
print(f"x:{x},y:{y}")

x:10,y:20

In [ ]:
print(f"count of 25:{person_info.count(25)}")
print(f"index of 'engineer':{person_info.index('engineer')}")

count of 25:1

ValueError: tuple.index(x): x not in tuple

In [ ]:
person = {
    "name":"anu",
    "age":23,
    "profession":"software engineer",
    "salary":75000,
    "skills":{"python","javascript","sql"}
}

In [ ]:
print(f"Name:{person['name']}")
print(f"age:{person.get('age','unknown')}')")

Name:anu
age:23')

In [ ]:
print(f"keys:{list(person.keys())}")
print(f"values:{list(person.values())}")
print(f"items:{list(person.items())}")

keys:['name', 'age', 'profession', 'salary', 'skills', 'location']
values:['anu', 23, 'software engineer', 80000, {'javascript', 'python', 'sql'}, 'new york']
items:[('name', 'anu'), ('age', 23), ('profession', 'software engineer'), ('salary', 80000), ('skills', {'javascript', 'python', 'sql'}), ('location', 'new york')]

In [ ]:
person["location"]="new york"
person["salary"]=80000

In [ ]:
innventory={
    "laptops":{
        "quantity":50,
        "price":999.99
    },
    "phones":{
        "quantity":100,
        "price":599.99
    },
    "tablets":{
        "quantity":30,
        "price":399.99
    }
}

In [ ]:
print(f"laptops price:${innventory['laptops']['price']}")

laptops price:$999.99

sets

In [ ]:
colors={"red","green","blue",'red'}
print(f"color:{colors}")

color:{'blue', 'green', 'red'}

In [ ]:
team1_skills={"python","js","sql","react"}
team2_skills={"js","sql","java","spring"}

In [ ]:
print(f"comman_skills:{team1_skills.intersection(team2_skills)}")
print(f"all_skills:{team1_skills.union(team2_skills)}")
print(f"team1 only:{team1_skills.difference(team2_skills)}")

comman_skills:{'js', 'sql'}
all_skills:{'js', 'sql', 'python', 'java', 'spring', 'react'}
team1 only:{'python', 'react'}

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(f"updated colors:{colors}")

updated colors:{'purple', 'yellow', 'orange', 'blue', 'green', 'red'}

In [ ]:
def get_grade_letter(score):
   if score >= 90:
      return "A"
   elif score >= 80:
      return "B"
   elif score >= 70:
        return "C"
   else:
         return"F"

In [ ]:
test_scores = [95,83,72,65,58]
for score in test_scores:
  grade = get_grade_letter(score)
  print(f"score:{score}:grade {grade}")

score:95:grade A
score:83:grade B
score:72:grade C
score:65:grade F
score:58:grade F

In [ ]:
def get_shipping_cost(weight, distance):
  base_cost = 5.0

  if weight <= 1:
      weight_cost = 2.0
  elif weight <= 5:
      weight_cost =5.0
  else:
      weight_cost = 10.0

  if distance <= 100:
      distance_cost = 1.0
  elif distance <= 500:
      distance_cost =3.0
  else:
      distance_cost =7.0
  return base_cost + weight_cost + distance_cost

In [ ]:
print(f"light, close: ${get_shipping_cost(0.5,50)}")
print(f"heavy, far: ${get_shipping_cost(10,800)}")

light, close: $8.0
heavy, far: $22.0

In [ ]:
fruits = ["apple","banana","orange","graphe"]
for fruit in fruits:
  print(f"i like {fruit}")

i like apple
i like banana
i like orange
i like graphe

In [ ]:
for i,fruit in enumerate(fruits):
  print(f"{i+1}, {fruit}")

1, apple
2, banana
3, orange
4, graphe

In [ ]:
for day in range(2,8):
  print(f"{day} of the week")

2 of the week
3 of the week
4 of the week
5 of the week
6 of the week
7 of the week

In [ ]:
print("multiplication table")
for i in range(1, 6):
  for j in range(1, 6):
    product = i *j
    print(f"{i}x {j} ={product:2d}",end=" ")
    print()

multiplication table
1x 1 = 1
1x 2 = 2
1x 3 = 3
1x 4 = 4
1x 5 = 5
2x 1 = 2
2x 2 = 4
2x 3 = 6
2x 4 = 8
2x 5 =10
3x 1 = 3
3x 2 = 6
3x 3 = 9
3x 4 =12
3x 5 =15
4x 1 = 4
4x 2 = 8
4x 3 =12
4x 4 =16
4x 5 =20
5x 1 = 5
5x 2 =10
5x 3 =15
5x 4 =20
5x 5 =25

In [ ]:
sales_data = [
    {'product":"laptop","price"':999,"quantity":5},
    {'product":"phone","price"':599,"quantity":10},
    {'product":"tablet","price"':599,"quantity":8}
]

In [ ]:
total_revenue = 0
for item in sales_data:
  item_revenue = item["price"] * item["quantity"]
  total_revenue += item_revenue
  print(f"{item['product']}: ${item_revenue}")

  print(f"Total Revenue: ${total_revenue}")

KeyError: 'price'

In [ ]:
def simple_guessing_game():
  target = 7
  guess = 0
  attempts = 0
  print("guess the number between 1 and 10!")

  while guess != target:

    import random
    guess = random.randint(1,10)
    attempts += 1

    if guess < target:
      print(f"Guess {attempts}: {guess} - too low!")
    elif guess > target:
      print(f"Guess {attempts}: {guess} - too high!")
    else:
      print(f"Guess {attempts}:  { guess} - correct!")


      if attempts > 10:
        print("max attempts reached:")
        break

  print(f"Game finished in {attempts} attempts")

simple_guessing_game()

guess the number between 1 and 10!
Guess 1: 6 - too low!
Guess 2: 2 - too low!
Guess 3: 4 - too low!
Guess 4: 2 - too low!
Guess 5: 2 - too low!
Guess 6: 4 - too low!
Guess 7: 3 - too low!
Guess 8: 9 - too high!
Guess 9: 8 - too high!
Guess 10: 2 - too low!
Guess 11:  7 - correct!
max attempts reached:
Game finished in 11 attempts

In [ ]:
def process_queue():
  queue = ["task 1", "task 2", "task 3", "task 4"]


  while queue:
    current_task = queue.pop(0)
    print(f"processing: {current_task}")

    print(f"remaining tasks: {len(queue)}")


  print("all tasks completed!")

process_queue()

processing: task 1
remaining tasks: 3
processing: task 2
remaining tasks: 2
processing: task 3
remaining tasks: 1
processing: task 4
remaining tasks: 0
all tasks completed!

function base

In [ ]:
def greet(name):
  return f"hello,{name}!"

In [ ]:
message=greet("python message")
print(message)

hello,python message!

function  with default parameter

In [ ]:
def create_user_profile(name,age=18,location="unknown",active="max"):
  return {
      "name":name,
      "age":age,
      "location":location,
      "active":active
  }

function returning multiple values

In [ ]:
def analyze_text(text):
 word - text.split()
 word_count = len(words)
 char_count = len(text)
 char_count_no_space = len(text,replace(" ",""))

 return word_count, char_count, char_count_no_spaces

keyword argument

In [ ]:
def create_report(**data):
  print("=== REPORT ===")

  for key, value in data.items():
    print(f"{key.replace('_',' ').title()}: {value}")

  print("==================")

create_report (
          title="monthly sales report",
          date="2024-01-01",
          total_sales=15000,
          new_customers=25,
          returning_customers=150
      )

=== REPORT ===
Title: monthly sales report
Date: 2024-01-01
Total Sales: 15000
New Customers: 25
Returning Customers: 150
==================

regular function

In [ ]:
def square(x):
  return x ** 2

lambda equivalent

In [ ]:
square_lambda = lambda X: X ** 2
print(f"Regular function: {square(5)}")
print(f"Lambda function:  {square_lambda(5)}")

Regular function: 25
Lambda function:  25

In [ ]:
multiply = lambda x,y: x*y
print(f"multiply: {multiply(3, 4)}")

multiply: 12

In [ ]:
numbers = [1,2,3,4,5]
squared = list(map(lambda x: x**2, numbers))
print(f"squared numbers: {squared}")

squared numbers: [1, 4, 9, 16, 25]

filtering with lambda

In [ ]:
ages = [16, 21, 35, 12, 45, 18, 67]
adults = list(filter(lambda age:  age >= 18,ages))
print(f"adult ages: {adults}")

adult ages: [21, 35, 45, 18, 67]

In [ ]:
people = {
    {"name": "anu", "age": 30},
     {"name": "bob", "age": 25},
     {"name": "tanu", "age": 30},

}

sorted_people = sorted{
    people,
    key-lambda person: person["age"])
 print("people sorted by age:")

 for person in sorted_people:
    print(f" {person['name']): {person['age']}")
}

SyntaxError: closing parenthesis ')' does not match opening parenthesis '{' on line 8 (ipython-input-1790059547.py, line 10)